

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	

	.container1 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

/* Grid */

	/* Cells */

		.\31 2u { width: 100% }
		.\31 1u { width: 91.6666666667% }
		.\31 0u { width: 83.3333333333% }
		.\39 u { width: 75% }
		.\38 u { width: 66.6666666667% }
		.\37 u { width: 58.3333333333% }
		.\36 u { width: 50% }
		.\35 u { width: 41.6666666667% }
		.\34 u { width: 33.3333333333% }
		.\33 u { width: 25% }
		.\32 u { width: 16.6666666667% }
		.\31 u { width: 8.3333333333% }
		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }

		.row1 > * {
			padding: 50px 0 0 50px;
			float: left;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-o-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}

		.row1 + .row1 > * {
			padding-top: 50px;
		}

		.row1 {
			margin-left: -50px;
		}

	/* Rows */

		.row1:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row1:first-child > * {
			padding-top: 0;
		}

		.row1 > * {
			padding-top: 0;
		}

		/* Modifiers */

			/* Flush */

				.row1.flush1 {
					margin-left: 0;
				}

				.row1.flush1 > * {
					padding: 0 !important;
				}

			/* Quarter */

				.row1.quarter1 > * {
					padding: 12.5px 0 0 12.5px;
				}

				.row1.quarter1 + .row.quarter1 > * {
					padding-top: 12.5px;
				}

				.row1.quarter1 {
					margin-left: -12.5px;
				}

			/* Half */

				.row1.half1 > * {
					padding: 25px 0 0 25px;
				}

				.row1.half1 + .row.half1 > * {
					padding-top: 25px;
				}

				.row1.half1 {
					margin-left: -25px;
				}

			/* One and (a) Half */

				.row1.oneandhalf1 > * {
					padding: 75px 0 0 75px;
				}

				.row1.oneandhalf1 + .row1.oneandhalf1 > * {
					padding-top: 75px;
				}

				.row1.oneandhalf1 {
					margin-left: -75px;
				}

			/* Double */

				.row1.double1 > * {
					padding: 100px 0 0 100px;
				}

				.row1.double1 + .row1.double1 > * {
					padding-top: 100px;
				}

				.row1.double1 {
					margin-left: -100px;
				}


				.sayHi {
    background-color: #f16a52;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.6px;
    padding: 5px 7px;
    line-height: 1.3;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    position: relative;
}
.sayHi:after {
    content: '.';
    width: 0;
    height: 0;
    top: 100%;
    left: 10px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-left-color: #f16a52;
}

.name p:nth-child(2) {
    color: #575757d1;
    font-family:  'roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 0.6px;
}
.name {
	cursor: default;
}

.name .s {
	text-shadow: 0.6px 0.6px 2px #3cb3716e;
}

.name p:first-child {
	font-weight: 700;
	color: #585858;
	font-size: 24pt;
	padding-bottom: 0px;
	margin-bottom:  0px;
	line-height: 1;
	margin-top: 6px;
	transition: 0.4s;
	box-sizing: border-box;
	padding-bottom: 5px;
	padding-right: 10px;
	display: inline-block;
	position: relative;
}

.name p:first-child:after {
	content: '';
	top: 0;
	position: absolute;
	height: 100%;
	width: 4px;
	background-color: orange;
	transition: 0.2s;
	margin-left: 10px;
	transform-origin: 50% 50%;
	transform: scaleY(0);
}

.name p:first-child:hover:after {
	transform: scaleY(1);
    color: mediumseagreen;
}
}

.name p:first-child span {
	font-weight: 300;
}

.s {
	display: inline-block;
	margin: 0 0 0 12px;
	transform: scaleX(0);
	transform-origin: 0% 50%;
	transition: 0.3s;
}

.s span {
	font-size: 18px;
}

.name p:nth-child(3) {
	text-shadow: 0.2px 0.2px 0.4px #44227bd1;
}

.name p:nth-child(3) span{
	font-size: 18px;
	margin-right: 4px;
}
